<!DOCTYPE html>
<html>
<head>
  <title>MeetDocAtEase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="txtweb-appkey" content="669247dd-3eb9-4cd8-971c-aa185ee4915e">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
