<!DOCTYPE html>
<html>
<head>
  <title>MeetDocAtEase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="txtweb-appkey" content="3d363a1b-cc5b-4276-a4a3-443e3c7d68b5">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
